.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  user-select: none;
  color: #ffffff;
}

.secondary {
  background-color: var(--secondary-color);
}

.secondary:hover:not(.disabled) {
  background-color: var(--secondary-hover);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.primary {
  background-color: var(--primary-color);
}

.primary:hover:not(.disabled) {
  background-color: var(--primary-hover);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled,
.button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}
